<!--header which contains boostrap for our navbar worked on by brandon & jacob-->
<!-- Top nav bar (fixed) -->
<!-- https://www.youtube.com/watch?v=23bpce-5s8I -->
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a href="/" class="navbar-password">PassworKeepR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (value) { %>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/password_gen" class="nav-link"> Create Password </a>
        </li>
      </ul>
      <h5 style= "padding-left: 3em; padding-right: 1em">Logged in!</h5>
      <form action="/logout" method="POST">
        <button class = "btn btn-outline-dark" type="submit">Logout</button>
      </form>
    </div>
    <% } %>      
  </nav>
</header>