<!--header which contains boostrap for our navbar worked on by brandon & jacob-->
<!-- Top nav bar (fixed) -->
<!-- https://www.youtube.com/watch?v=23bpce-5s8I -->
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a href="/" class="navbar-password">PassworKeepR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/create_password" class="nav-link"> Create Password </a>
        </li>
      </ul>
    </div>
  </nav>
</header>