<%- include('partials/_header') %>

  <head>
    <!-- bootstrap Latest compiled and minified CSS -->
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
   integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  </head>

  <body>
    <div id="alert_placeholder"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="../scripts/login.js"></script>
    <main style="margin: 1em;">
      <div class="login">
        <h3 class="yeet">Login</h3>
        <div class="form-group">
          <input autocomplete="off" autofocus class="form-control" id="email" name="email" placeholder="email"
            type="email">
        </div>
        <div class="form-group">
          <input class="form-control" name="password" id="password" placeholder="master password" type="password">
        </div>
        <button class="btn btn-primary" id="login_button" type="submit">Login</button>
      </div>
    </main>
  </body>