<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>passwordKeepR</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <%- include('partials/_header') %>
    <form action="/password_gen/" method="POST" id="generatorForm">
      <section id="pwordLenRange">
        <label for="orgName">Organization Name:</label>
        <select name="orgName" id="orgName">
          <% for (userOrgs) { %>
            <option value=`userOrgs[]`></option>
        </select>
        <br>
        <label for="orgName">URL:</label>
        <input type="text" name="orgName" id="orgName">
        <br>
        <label for="passwordLength">Password Length:</label>
        <input type="range" name="passwordLength" id="passwordLength" min="10" max="40" value="20" step="1">
      </section>
      <section id="pwordOptions">
        <label for="">Uppercase</label>
        <input type="checkbox" name="upperCaseCheck" id="upperCaseCheck">
        <label for="lowerCaseCheck">Lowercase</label>
        <input type="checkbox" name="lowerCaseCheck" id="lowerCaseCheck">
        <br>
        <label for="numberCheck">Number</label>
        <input type="checkbox" name="numberCheck" id="numberCheck">
        <label for="">Symbols</label>
        <input type="checkbox" name="symbolsCheck" id="symbolsCheck">
      </section>
      <button type="submit" form="generatorForm">SUBMIT</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>
