main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 50%;
  margin-top: 8em;
  max-width: 350px;
}

/* https://stackoverflow.com/questions/39811673/change-the-height-of-ui-bootstrap-alert */
.alert {
  margin-bottom: 1px;
  min-height: 35px;
  line-height:35px;
  padding:0px 35px;
  position: fixed;
  width: 100%;
  top: 70px;
  left: 0;
}

.alert p {
  margin: 4px 0;
}


h5 {
  font-family: 'Montserrat', sans-serif;
}

h5.navbar-header {
  color: white;
  margin-left: -55px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}


h3 {
  font-family: 'Montserrat', sans-serif;
}

h3.yeet {
  margin-bottom: 18px;
}

.button {
  margin-top: 5px;
}

a.nav-link {
  margin-left: 10px;
}

/* Write desktop only styles here */
@media only screen and (max-width: 575px) {
  h5.navbar-header {
    color: white;
    margin-left: -60px;
    margin-bottom: 15px;
  }
}
