/* Mobile first! */
nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: transparent;
  width: 100vw;
  height: 120px;
  padding: 1.7em;
  color: white;
  transition: background-color 0.4s ease-out;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

.alert {
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}

nav.scroll {
  background-color: #4056A1;
  color: #eef;
}

/* Write desktop only styles here */
@media only screen and (min-width: 1024px) {
  nav {
    background-color:#4056A1 ;
  }

  .alert {
    position: fixed;
    margin-top: 7.5rem;
    border: 1px solid transparent;
    width: 100vw;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
  }  
}


