
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
  margin-top: 100px;
  /* background-color: aquamarine; */
}

.formCard {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 50%;
  max-width: 700px;
  min-width: 450px;
  border-radius: 5px;
  min-height: fit-content;
  /* max-height: 600px; */
  border: 2px solid red;
}

section > input[type="text"] {
  width: 80%;
  max-width: 550px;
  margin: 0.5em 1em;
}

.selectPopDown {
  width: 200px;
  margin-left: 1em;
}

.formLabel {
  margin-left: 1em;
}

.rangeStyling {
  width: 80%;
  max-width: 550px;
  margin-left: 1em;
  align-self: center;
}

.counterText {
  align-self: center;
  /* padding-bottom: 1em; */
}

.headerText {
  margin-top: 1em;
  align-self: center;
}

.menuButton {
  margin: 0.5em 1em;
  align-self: center;
}

#pwordOptions {
  display: flex;
  /* max-width: 50%; */
  /* min-width: fit-content; */
}

input[type="checkbox"] {
  max-width: 50%;
  min-width: fit-content;
}


h5 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
}

h4 {
  margin-left: 2px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 42px;
  font-size: 32px;
}