
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
  margin-top: 100px;
  /* background-color: aquamarine; */
}

.formCard {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  width: 50%;
  max-width: 700px;
  min-width: 450px;
  border-radius: 35px;
  min-height: fit-content;
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

section > input[type="text"] {
  width: 80%;
  max-width: 550px;
  margin: 0.1em 1em;
}

.selectPopDown {
  width: 200px;
  margin-left: 1em;
}

.formSelectionButton{
  display: flex;
}

.formLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 95px;
}

.rangeStyling {
  width: 80%;
  max-width: 550px;
  margin-left: 1em;
  align-self: center;
}

.counterText {
  align-self: center;
  /* padding-bottom: 1em; */
}

.headerText {
  margin-top: 1em;
  margin-bottom: 12px;
  align-self: center;
}

.menuButton {
  margin: 0.5em 1em;
  align-self: center;
}

#pwordOptions {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#numbersCheck {
  margin-right: 15px;
}

#upperCaseCheck {
  margin-right: 15px;
}

.tickboxes {
  justify-content: center;
}


/* fixer code needs to be reviewed for conflicts */
h5 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
}

h5.headerText {
  margin-top: 20px;
}

h5.navbar-header {
  color: white;
  margin-left: -55px;
}

h4 {
  margin-left: 2px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 42px;
  font-size: 32px;
}

button {
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 5px;
  min-width: 65px;
}

button.remove_from_password_buttons {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 20px;
}

/* https://stackoverflow.com/questions/39811673/change-the-height-of-ui-bootstrap-alert */
.alert {
  margin-bottom: 1px;
  min-height: 35px;
  line-height:35px;
  padding:0px 35px;
  position: fixed;
  width: 100%;
  top: 70px;
  left: 0;
}

.alert p {
  margin: 4px 0;
}

h5 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
}

h4 {
  margin-left: 2px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 42px;
  font-size: 32px;
}

a.nav-link {
  margin-left: 10px;
}

/* Write desktop only styles here */
@media only screen and (max-width: 575px) {
  h5.navbar-header {
    color: white;
    margin-left: -60px;
    margin-bottom: 15px;
  }
}
